.heading {
    background-color: lightgray;
    stroke: white;
    width: 90%%;
    height: 80px;
    vertical-align: text-bottom;
    margin:10px;
}

h1 {
    padding: 20px ;
    color: red;
    position: relative;
    text-align: center;
    margin: 0px;
}

.left{
    margin-left: 10px;
    position: absolute;
    background-color: rgb(94, 91, 91);
    width: 580px;
    height: 580px;
    margin-top: 15px;
    text-align: center;
}

.map_container{
    margin-top: 15px;
    position: absolute;
    background-color: lightgray;
    width: 890px;
    height: 500px;
    margin-left: 620px;
}

.map{
    position: absolute;
    height: inherit; 
    width: inherit;
}

.info{
    position: absolute;
    background-color: lightgray;
    margin-top: 530px;
    margin-left: 620px;
    width: 890px;
    height: 65px;
}


