body{
    background-color:rgb(225, 222, 222);
}

.container {
  width: 100%;
  height: 622px;
  background-color: white;
  border-radius: 5px;
}
.heading {
    stroke: white;
    width: 90%;
    height: 65px;
    vertical-align: text-bottom;
    margin:10px;
}

h1 {
    color: rgb(77, 128, 41);
    position: relative;
    text-align: center;
    margin: 0px;
}

h3 {
    color: rgb(77, 128, 41);
    position: relative;
    text-align: center;
    margin-top: 5px;
}

.image{
  text-align: center;
  padding-bottom:10px;
  width: 100%;
}

p{
  margin: 10px;
  padding-top: 10px;
}

.map_container{
    margin-top: 9px;
    position: absolute;
    background-color: lightgray;
    width: 890px;
    height: 540px;
    margin-left: 10px;
    border-radius: 5px;
}

.map{
    position: absolute;
    height: 540px; 
    width: inherit;
    border-radius: 5px;
}

.info{
    position: absolute;
    background-color: white;
    margin-top: 565px;
    margin-left: 10px;
    width: 890px;
    height: 55px;
    text-align: center;
}


/* Styling the button*/
#Limite_CH {
    background-color: rgb(77, 128, 41);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 2px;
    cursor: pointer;
  }

  #Limite_CH:hover {
    background-color: rgb(77, 128, 41);
    color: white;
    cursor: pointer;
  }

  #Limite_cantonales {
    background-color: rgb(77, 128, 41);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-right: 2px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #Limite_cantonales:hover {
    background-color: rgb(77, 128, 41);
    cursor: pointer;
  }

  #Limite_districts {
    background-color:rgb(77, 128, 41);
    border: none;
    color: white;
    margin-right: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }

  #Limite_districts:hover {
    background-color: rgb(77, 128, 41);
    color: white;
    cursor: pointer;
  }

  #Limite_communales {
    background-color: rgb(77, 128, 41);
    border: none;
    color: white;
    margin-right: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #Limite_communales:hover {
    background-color: rgb(77, 128, 41);
    color: white;
    cursor: pointer;
  }

  #Nom {
    text-align: left;
  position: aboslute;   

  }

  .parent{
    margin-left: 920px;
    position: absolute;
    background-color: rgb(171, 171, 171);
    width: 575px;
    height: 100px;
    text-align: center;
    margin-top: 9px;
    border-radius: 5px;
    color: blanchedalmond;
    border:5px;
}

.parent1{
  position: absolute;
  padding-top: 10px;
  background-color: rgb(171, 171, 171);
  width: 555px;
  height: 30px;
  text-align:left;
  color: blanchedalmond;
  margin-top: 2px;
  font-size: large;
  border-radius: 5px;
  border:5px;
}

.parent2{
  position: relative;
  color: blanchedalmond;  
  padding-top: 25px;
  background-color: rgb(171, 171, 171);
  width: 555px;
  height: 35px;
  font-size: large;
  text-align:left;
  margin-top: 30px;
  border:5px;
}

.parent3{
  position: relative;
  color: blanchedalmond;  
  padding-top: 10px;
  background-color: rgb(171, 171, 171);
  width: 555px;
  height: 45px;
  font-size: large;
  text-align:left;
  margin-top: -5px;
  border:5px;
  border-radius: 5px;
}


