body{
    background-color:#fff;
}


.heading {
    stroke: white;
    width: 90%%;
    height: 80px;
    vertical-align: text-bottom;
    margin:10px;
}



h1 {
    color: rgb(77, 128, 41);
    position: relative;
    text-align: center;
    margin: 0px;
}

h2 {
    color: rgb(77, 128, 41);
    position: relative;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
}

.left{
    margin-left: 10px;
    position: absolute;
    background-color: rgb(94, 91, 91);
    width: 580px;
    height: 580px;
    margin-top: 15px;
    text-align: center;
}

.map_container{
    margin-top: 8px;
    position: absolute;
    background-color: lightgray;
    width: 890px;
    height: 520px;
    margin-left: 620px;
}

.map{
    position: absolute;
    height: inherit; 
    width: inherit;
}

.info{
    position: absolute;
    background-color: #fff;
    margin-top: 545px;
    margin-left: 620px;
    width: 890px;
    height: 65px;
    text-align: center;
}


/* Styling the button*/

#Limite_CH {
    background-color: rgb(77, 128, 41);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 2px;
    cursor: pointer;
  }

  #Limite_CH:hover {
    background-color: rgb(77, 128, 41);
    color: white;
    cursor: pointer;
  }

  #Limite_cantonales {
    background-color: rgb(77, 128, 41);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-right: 2px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #Limite_cantonales:hover {
    background-color: rgb(77, 128, 41);
    cursor: pointer;
  }

  #Limite_districts {
    background-color:rgb(77, 128, 41);
    border: none;
    color: white;
    margin-right: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }

  #Limite_districts:hover {
    background-color: rgb(77, 128, 41);
    color: white;
    cursor: pointer;
  }

  #Limite_communales {
    background-color: rgb(77, 128, 41);
    border: none;
    color: white;
    margin-right: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #Limite_communales:hover {
    background-color: rgb(77, 128, 41);
    color: white;
    cursor: pointer;
  }

